<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pulsetracker">

    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".PulsometerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity"
            android:exported="true"/>

        <activity android:name=".TrainingActivity"
            android:exported="true"/>
        <activity android:name=".CongratulationsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".trainingPlans.runPlan.EasyRunningTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.runTraining.EasyRunningTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.runPlan.MediumRunningTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.runTraining.MediumRunningTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.runPlan.HardRunningTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.runTraining.HardRunningTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.cyclePlan.HardCyclingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.cycleTraining.HardCyclingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.cyclePlan.MediumCyclingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.cycleTraining.MediumCyclingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.cyclePlan.EasyCyclingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.cycleTraining.EasyCyclingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.swimPlan.EasySwimmingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.swimTraining.EasySwimmingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.swimPlan.MediumSwimmingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.swimTraining.MediumSwimmingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.swimPlan.HardSwimmingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.swimTraining.HardSwimmingTrainingActivity"
            android:exported="true" />




    </application>

</manifest>
