<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pulsetracker">

    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".PulsometerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TrainingActivity"
            android:exported="true"/>
        <activity android:name=".CongratulationsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".trainingPlans.EasyRunningTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.EasyRunningTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.MediumRunningTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.MediumRunningTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.HardRunningTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.HardRunningTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.HardCyclingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.HardCyclingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.MediumCyclingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.MediumCyclingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.EasyCyclingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.EasyCyclingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.EasySwimmingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.EasySwimmingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.MediumSwimmingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.MediumSwimmingTrainingActivity"
            android:exported="true" />
        <activity
            android:name=".trainingPlans.HardSwimmingTrainingPlanActivity"
            android:exported="true" />
        <activity
            android:name=".trainingActivities.HardSwimmingTrainingActivity"
            android:exported="true" />




    </application>

</manifest>
